*{
	padding: 0;
	margin: 0;
}
.tab-menu {
    padding: 20px 0 0 30px;
}

.tab-menu ul {
    margin: 0;
    padding: 0;
}

.tab-menu ul li {
    list-style: none;
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;
    background: #fff;
    color: #000;
}
.tab-menu ul li:hover,
.tab-menu ul li.active{
	background: #000;
	color: #fff;
}
.contain-items{
	display: none;
}
.contain-items.tab-1{
	display: block;
}

.contain-items h3{
	padding: 15px 0 15px 30px;
	background: #d8d8d8;
}
.contain-items p{
	padding: 15px 0 15px 30px;
	background: #e3e3e3;
}